<div class="container">
    <h3>Profile for <%= @developer.name || "user" %></h3>
        <% if @developer.image.present? %>
            <%= image_tag @developer.image.url(:thumb), class: 'uploaded-pic' %>
        <% elsif @developer.avatarUrl != "" %>
            <%= image_tag @developer.avatarUrl, class: 'uploaded-pic' %>
        <% else %>
            <%= image_tag "github_avatar.png", class: 'uploaded-pic' %>
        <% end %>
    <ul>
        <li>Email: <%= @developer.email %></li>
        <li>Phone Number: <%= @developer.phone %></li>
        <li>Address: <%= @developer.address %></li>
        <li>Website: <%= @developer.website %></li>
        <li>Github: <%= @developer.github %></li>
        <li>Twitter: <%= @developer.twitter %></li>
        <li>Facebook: <%= @developer.facebook %></li>
        <li>Linkedin: <%= @developer.linkedinPublicUrl %></li>
        <li>Avatar: <%= @developer.avatarUrl %></li>
        <li>Date of Birth: <%= @developer.dob %></li>
        <li>Dayrate: <%= number_to_currency(@developer.dayrate, :unit => "£") %></li>

        <%= link_to 'Edit', edit_developer_registration_path(@developer.id), class: "btn btn-primary btn-lg" %>
        <%= link_to 'Back', :back, class: "btn btn-primary btn-lg" %>
    </ul>
</div>