<!-- Begin page content -->

<!-- Jumbotron -->
<div class="jumbotron">
  <div class="container">
    <div class="msg-index">
      <% if developer_signed_in? %>
        <h1 align="center"><%= "Welcome #{current_developer.email}" %></h1>
      <% elsif client_signed_in? %>
        <h1 align="center"><%= "Welcome #{current_client.email}" %></h1>
      <% else %>
        <h1 align="center"><%= "Welcome to Talent Hacked" %></h1>
      <% end %>

      <% if !(current_developer || current_client) %>
        <div class="container">
          <p align="center">
          <%= link_to "Clients", new_client_registration_path, class: "btn btn-primary btn-lg" %>
          <%= link_to "Developers", new_developer_registration_path, class: "btn btn-primary btn-lg" %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Jumbotron -->

<div class="footer">
  <div class="container">
    <p class="text-muted">© Talent Hacked 2014</p>
  </div>
</div>    
<!-- End page content -->