<%= form_for @status, url: developer_project_path(current_developer, @project) do |form| %>
	<%= form.hidden_field :status, value: 'pending approval' %>
	
	<p><%= form.label :cost %></p>
	<%= form.text_field :cost %><br>

	<p><%= form.label :timeframe %></p>
	<%= form.text_field :timeframe %><br>

	<p><%= form.label :workflow, 'Explanation of workflow' %></p>
	<%= form.text_area :workflow %><br>

	<p><%= form.label :pitch, 'Pitch (why you)' %></p>
	<%= form.text_area :pitch %><br>

	<%= form.submit %>
<% end %>