<div id="wrapper">
  <div id="page-wrapper">
  <%= render 'dashboards/sidenav' %>
    <% if current_client %>
      <p><h3>Projects</h3><%= link_to 'Add Project', new_client_project_path(@client.id), class: "btn btn-primary" %></p>
        <% if @client.projects.any? %>
          <% @client.projects.each do |project| %>
            <div class="project-container">
              <p><strong><%= link_to 'Name:', client_project_path(@client, project) %></strong><%= project.name %></p>
              <p><strong>Deadline:</strong> <%= project.deadline %></p>
              <p><strong>Budget:</strong> <%= number_to_currency(project.budget, :unit => "£") %></p>
              <p><strong>Status:</strong> <%= project.status %> </p>
            <% end %>
            </div>
        <% else %>
          <%= 'No projects yet' %> 
        <% end %>
    <% else %>
          <% if @developer.projects.any? %>
            <% @developer.projects.each do |project| %>
            <div class="project-container">
              <p><strong><%= link_to 'Name:', developer_project_path(@developer, project) %></strong><%= project.name %></p>
              <p><strong>Deadline:</strong> <%= project.deadline %></p>
              <p><strong>Budget:</strong> <%= number_to_currency(project.budget, :unit => "£") %></p>
              <p><strong>Status:</strong> <%= project.statuses.where(:project_id => project.id, :developer_id => @developer.id).first.status %> </p>
              <% end %>
            </div>
            <% else %>
            <%= 'No projects yet' %> 
          <% end %>
      <% end %>
  </div>
</div>
<%= render 'dashboards/footer' %>