<div id="wrapper">
  <div id="page-wrapper">
  <%= render 'dashboards/sidenav' %>
    <p><h3>Projects</h3><%= link_to 'Add Project', new_client_project_path(@client.id), class: "btn btn-primary" %></p>
      <% if @project.any? %>
        <% @project.each do |project| %>
          <p><strong><%= link_to 'Name:', client_project_path(@client, project) %></strong><%= project.name %></p>
          <p><strong>Deadline:</strong> <%= project.deadline %></p>
          <p><strong>Status:</strong> <%= project.status %> </p>
          <% end %>
        <% else %>
        <%= 'No projects yet' %> 
      <% end %>
  </div>
</div>
<%= render 'dashboards/footer' %>