<div id="wrapper">
  <div id="page-wrapper">
  <%= render 'dashboards/sidenav' %>
    <div class="row">
      <div class="col-lg-12">
        <h1><i class="fa fa-user"></i> Profile <small>This is your profile</small></h1>
      </div>
    </div><!-- /.row -->

    <div class="row">
      <div class="col-md-offset-2 col-md-8 ">
        <div class="col-sm-12">
            <div class="col-xs-12 col-sm-8">
              <h3>Create a new project</h3>
                <br>
								<%= form_for [@client, @project] do |form| %>
								<div><%= form.label :name %><br>
								<%= form.text_field :name %></div>

								<div><%= form.label :deadline %><br>
								<%= form.text_field :deadline %></div>

								<div><%= form.label :budget, 'Budget (GBP)' %><br>
								<%= form.text_field :budget %></div>

								<div><%= form.label :projectIndustry, 'Industry' %><br>
								<%= form.text_field :projectIndustry %></div>

								<div><%= form.label :description, 'Description' %><br>
								<%= form.text_area :description %></div>

								<%= form.submit :class => "btn btn-default" %>
							<% end %>
            </div>
        </div>
      </div>
    </div>
    <%= render 'dashboards/footer' %>
  </div>
</div>