<div class="container">
	<%= form_for [@client, @project] do |form| %>
		<div><%= form.label :name %><br>
		<%= form.text_field :name %></div>

		<div><%= form.label :deadline %><br>
		<%= form.text_field :deadline %></div>

		<div><%= form.label :budget, 'Budget (GBP)' %><br>
		<%= form.text_field :budget %></div>

		<div><%= form.label :projectIndustry, 'Industry' %><br>
		<%= form.text_field :projectIndustry %></div>

		<div><%= form.label :description, 'Description' %><br>
		<%= form.text_area :description %></div>

		<%= form.submit %>
	<% end %>
</div>