<div id="wrapper">
  <div id="page-wrapper">
    <%= render 'dashboards/sidenav' %>
    <div class="row">
      <div class="col-lg-12">
        <h1><i class="fa fa-dashboard"></i> Dashboard <small>Statistics Overview</small></h1>
      </div>
    </div><!-- /.row -->

    <% if current_client %>
      <div class="col-lg-12">
        <div class="panel panel-info test-jesus">
          <div class="panel-heading offers offers">
            <div class="row">
            <div class="col-xs-6">
              <%= link_to "<i class='fa fa-file-text fa-5x'></i>".html_safe, new_client_project_path(current_client), method: :get, class: "col-xs-6" %>
            </div>
                <div class="col-xs-6 text-right">
                    <p class="announcement-heading">New</p>
                  <p class="announcement-text">Project</p>
                </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>

      <div class="col-lg-12">
        <div class="panel panel-info test-jesus">
          <div class="panel-heading pending offers">
            <div class="row">
              <% if current_client %> 
                <div class="col-xs-6">
                  <%= link_to "<i class='fa fa-edit fa-5x'></i>".html_safe, client_projects_path(@client, status: 'Pending'), method: :get, class: "col-xs-6" %>
                </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading">
                        <%= @client.projects.select{|project| project.status == 'Pending'}.count %></p>
                      <p class="announcement-text">Pending</p>
                    </div>
                  <% else %>
                <div class="col-xs-6">
                  <%= link_to "<i class='fa fa-edit fa-5x'></i>".html_safe, client_projects_path(@developer, status: 'Pending'), method: :get, class: "col-xs-6" %>
                </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading">
                        <%= @developer.projects.select{|project| project.statuses.first.status == 'Pending'}.count %></p>
                      <p class="announcement-text">Pending</p>
                    </div>
                  <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="panel panel-info test-jesus">
          <div class="panel-heading pending offers">
            <div class="row">
              <% if current_client %> 
                <div class="col-xs-6">
                  <%= link_to "<i class='fa fa-tasks fa-5x'></i>".html_safe, client_projects_path(@client, status: 'In Progress'), method: :get, class: "col-xs-6" %>
                </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading">
                        <%= @client.projects.select{|project| project.status == 'In Progress'}.count %></p>
                      <p class="announcement-text">In Progress</p>
                    </div>
                  <% else %>
                    <div class="col-xs-6">
                      <%= link_to "<i class='fa fa-tasks fa-5x'></i>".html_safe, client_projects_path(@developer, status: 'In Progress'), method: :get, class: "col-xs-6" %>
                    </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-heading">
                            <%= @developer.projects.select{|project| project.status == 'In Progress'}.count %></p>
                          <p class="announcement-text">In Progress</p>
                        </div>
                  <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="panel panel-info test-jesus">
          <div class="panel-heading pending offers">
            <div class="row">
              <% if current_client %> 
                <div class="col-xs-6">
                    <%= link_to "<i class='fa fa-check-square-o fa-5x'></i>".html_safe, client_projects_path(@client, status: 'Completed'), method: :get, class: "col-xs-6" %>
                </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading">
                        <%= @client.projects.select{|project| project.status == 'Completed'}.count %></p>
                      <p class="announcement-text">Completed</p>
                    </div>
                  <% else %>
                <div class="col-xs-6">
                    <%= link_to "<i class='fa fa-check-square-o fa-5x'></i>".html_safe, client_projects_path(@developer, status: 'Completed'), method: :get, class: "col-xs-6" %>
                </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading">
                        <%= @developer.projects.select{|project| project.status == 'Completed'}.count %></p>
                      <p class="announcement-text">Completed</p>
                    </div>
                  <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="panel panel-info test-jesus">
          <div class="panel-heading pending offers">
            <div class="row">
              <% if current_client %> 
                <div class="col-xs-6">
                    <%= link_to "<i class='fa fa-exclamation-circle fa-5x'></i>".html_safe, client_projects_path(@client, status: 'Declined'), method: :get, class: "col-xs-6" %>
                </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading">
                        <%= @client.projects.select{|project| project.status == 'Declined'}.count %></p>
                      <p class="announcement-text">Declined</p>
                    </div>
                  <% else %>
                    <div class="col-xs-6">
                        <%= link_to "<i class='fa fa-exclamation-circle fa-5x'></i>".html_safe, client_projects_path(@developer, status: 'Declined'), method: :get, class: "col-xs-6" %>
                    </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-heading">
                            <%= @developer.projects.select{|project| project.status == 'Declined'}.count %></p>
                          <p class="announcement-text">Declined</p>
                        </div>
                  <% end %>
            </div>
          </div>
        </div>
      </div>
  </div><!-- /#page-wrapper -->
</div><!-- /#wrapper -->