<div id="wrapper">
  <div id="page-wrapper">
    <%= render 'dashboards/sidenav' %>
    <div class="row">
      <div class="col-lg-12">
        <h1><i class="fa fa-dashboard"></i> Dashboard <small>Statistics Overview</small></h1>
      </div>
    </div><!-- /.row -->

    <% if current_client %>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-info test-jesus">
          <div class="panel-heading offers">
            <div class="row">
              <div class='col-xs-6'>
                <%= link_to "<i class='fa fa-file-text fa-5x'></i>".html_safe, new_client_project_path(current_client), method: :get %>
              </div>
              <div class="col-xs-6 text-right">
                <p class="announcement-heading">New Project</p>
                <p class="announcement-text"></p>
              </div>
            </div>
          </div>       
        </div>
      </div>
    </div> <!-- create a new project -->
    <% end %>

      <div class="col-lg-12">
        <div class="panel panel-info test-jesus">
          <div class="panel-heading pending offers">
            <div class="row">
              <div class="col-xs-6">
                <% if current_client %> 
                  <%= link_to "<i class='fa fa-edit fa-5x'></i>".html_safe, client_projects_path(@client, status: 'Pending'), method: :get, class: "col-xs-6" %>
                <% else %>
                   <%= link_to "<i class='fa fa-edit fa-5x'></i>".html_safe, developer_projects_path(@developer, status: 'pending'), method: :get, class: "col-xs-6" %>
                <% end %>
              </div>
              <div class="col-xs-6 text-right">
                <p class="announcement-heading">
                <% if current_client %>             
                  <%= @client.projects.select{|project| project.status == 'Pending'}.count %></p>
                  <p class="announcement-text">Pending Quotation</p>
                <% else %>
                  <%= @developer.projects.select{|project| project.statuses.where(:project_id => project.id, :developer_id => @developer.id).first.status == 'pending'}.count %></p>
                  <p class="announcement-text">Pending Quotation</p>
                <% end %>
              </div>
            </div>
          </div>       
        </div>
      </div>

      <div class="col-lg-12">
        <div class="panel panel-info test-jesus">
          <div class="panel-heading pending offers">
            <div class="row">
              <div class="col-xs-6">
                <% if current_client %> 
                  <%= link_to "<i class='fa fa-edit fa-5x'></i>".html_safe, client_projects_path(@client, status: 'Pending Approval'), method: :get, class: "col-xs-6" %>
                  <% else %>
                   <%= link_to "<i class='fa fa-edit fa-5x'></i>".html_safe, developer_projects_path(@developer, status: 'pending approval'), method: :get, class: "col-xs-6" %>
                  <% end %>
              </div>
              <div class="col-xs-6 text-right">
                <p class="announcement-heading">
                <% if current_client %>             
                  <%= @client.projects.select{|project| project.status == 'Pending Approval'}.count %></p>
                  <p class="announcement-text">Pending Approval</p>
                <% else %>
                  <%= @developer.projects.select{|project| project.statuses.where(:project_id => project.id, :developer_id => @developer.id).first.status == 'pending approval' }.count %></p>
                  <p class="announcement-text">Pending Approval</p>
                <% end %>
                
              </div>
            </div>
          </div>       
        </div>
      </div>

      <div class="col-lg-12">
        <div class="panel panel-info test-jesus">
          <div class="panel-heading pending offers">
            <div class="row">
              <div class="col-xs-6">
                <% if current_client %> 
                  <%= link_to "<i class='fa fa-edit fa-5x'></i>".html_safe, client_projects_path(@client, status: 'Confirmed'), method: :get, class: "col-xs-6" %>
                  <% else %>
                   <%= link_to "<i class='fa fa-edit fa-5x'></i>".html_safe, developer_projects_path(@developer, status: 'confirmed'), method: :get, class: "col-xs-6" %>
                  <% end %>
              </div>
              <div class="col-xs-6 text-right">
                <p class="announcement-heading">
                <% if current_client %>             
                  <%= @client.projects.select{|project| project.status == 'Confirmed'}.count %></p>
                <% else %>
                  <%= @developer.projects.select{|project| project.statuses.where(:project_id => project.id, :developer_id => @developer.id).first.status == 'confirmed' }.count %></p>
                <% end %>
                <p class="announcement-text">Confirmed</p>
              </div>
            </div>
          </div>       
        </div>
      </div>

      <div class="col-lg-12">
        <div class="panel panel-info test-jesus">
          <div class="panel-heading pending offers">
            <div class="row">
              <div class="col-xs-6">
                <% if current_client %> 
                  <%= link_to "<i class='fa fa-edit fa-5x'></i>".html_safe, client_projects_path(@client, status: 'Completed'), method: :get, class: "col-xs-6" %>
                  <% else %>
                   <%= link_to "<i class='fa fa-edit fa-5x'></i>".html_safe, developer_projects_path(@developer, status: 'completed'), method: :get, class: "col-xs-6" %>
                  <% end %>
              </div>
              <div class="col-xs-6 text-right">
                <p class="announcement-heading">
                <% if current_client %>             
                  <%= @client.projects.select{|project| project.status == 'Completed'}.count %></p>
                <% else %>
                  <%= @developer.projects.select{|project| project.statuses.where(:project_id => project.id, :developer_id => @developer.id).first.status == 'completed' }.count %></p>
                <% end %>
                <p class="announcement-text">Completed</p>
              </div>
            </div>
          </div>       
        </div>
      </div>

      <div class="col-lg-12">
        <div class="panel panel-info test-jesus">
          <div class="panel-heading pending offers">
            <div class="row">
              <div class="col-xs-6">
                <% if current_client %> 
                  <%= link_to "<i class='fa fa-edit fa-5x'></i>".html_safe, client_projects_path(@client, status: 'Declined'), method: :get, class: "col-xs-6" %>
                  <% else %>
                   <%= link_to "<i class='fa fa-edit fa-5x'></i>".html_safe, developer_projects_path(@developer, status: 'declined'), method: :get, class: "col-xs-6" %>
                  <% end %>
              </div>
              <div class="col-xs-6 text-right">
                  <p class="announcement-heading">
                <% if current_client %>             
                  <%= @client.projects.select{|project| project.status == 'Declined'}.count %></p>
                <% else %>
                  <%= @developer.projects.select{|project| project.statuses.where(:project_id => project.id, :developer_id => @developer.id).first.status == 'declined' }.count %></p>
                <% end %>
                <p class="announcement-text">Declined</p>
              </div>
            </div>
          </div>       
        </div>
      </div>

  </div><!-- /#page-wrapper -->
</div><!-- /#wrapper -->
