<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>TalentHacked</title>
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
	</head>
	<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="logo-image">
            <%= link_to image_tag("talent_hacked_italic_swoosh_white.png", alt: "Talent Hacked"), '/' %>
          </div>
        </div>
        <div class="flash-message">
          <%= content_tag(:p, notice, id: 'notice') if notice %>
          <%= content_tag(:p, alert,  id: 'alert') if alert  %>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown user-dropdown">
            <% if current_developer %>
              <%= link_to "#{current_developer.email}", dashboard_path, class: "dropdown-toggle", :data => {:toggle => "dropdown"} %><b class="caret"></b>
              <ul class="dropdown-menu">
                <li><%= link_to 'Dashboard', dashboard_path, method: :get %></li>
                <li><%= link_to 'Show profile', developer_path(current_developer.id) %></li>
                <li><%= link_to 'Edit profile', edit_developer_registration_path, method: :get %></li>
                <li class="divider"></li>
                <li><%= link_to 'Sign out', destroy_developer_session_path, method: :delete %></li>
              </ul>
            <% elsif current_client %>
              <%= link_to "#{current_client.email}", dashboard_path, class: "dropdown-toggle", :data => {:toggle => "dropdown"} %>
              <ul class="dropdown-menu">
                <li><%= link_to 'Dashboard', dashboard_path, method: :get %></li>
                <li><%= link_to 'Show profile', client_path(current_client.id) %></li>
                <li><%= link_to 'Edit profile', edit_client_registration_path, method: :get %></li>
                <li class="divider"></li>
                <li><%= link_to 'Sign out', destroy_client_session_path, method: :delete %></li>
              </ul>
            <% else %>
              <%= link_to "Have an account?", dashboard_path, class: "dropdown-toggle", :data => {:toggle => "dropdown"} %>
              <ul class="dropdown-menu">
                <li><%= link_to "Developer Sign in", new_developer_session_path %></li>
                <li><%= link_to "Developer Sign in with LinkedIn", developer_omniauth_authorize_path(:linkedin) %></li>
                <li class="divider"></li>
                <li><%= link_to "Client Sign in", new_client_session_path %></li>
              </ul>
            <% end %>
            </li>
          </ul>
        </div>
    </div>
        <!-- /.navbar-collapse -->
    <%= yield %>
  </body>
</html>